<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Musica</title>
</head>
<body>

  <form method="post" action="/adicionar">
    <label>Nome da Música:</label>
    <input type="text" name="txtNome" placeholder="Digite o nome da Másica">

    <label>Cantor:</label>
    <input type="text" name="txtCantor" placeholder="Digite o nome do Cantor">

    <label>Genero:</label>
    <input type="text" name="txtGenero" placeholder="Digite o Genero">

    <button type="submit">Cadastrar Música</button>
  </form>

</body>
</html>