<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <form method="" action="">

    <fieldset>
      <legend>Entre com suas informações</legend>

      <label for="">Login</label>
      <input type="text" name="txtLogin" placeholder="Digite seu login">

      <label for="">Senha</label>
      <input type="password" name="txtSenha" placeholder="Digite sua senha">

      <button type="submit">Entrar</button>
    </fieldset>

  </form>
</body>
</html>